<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container-fluid">

    <div class="item-container bg-light row">
        <div class="col-6">
            <a [routerLink]="['/home']">
                <img src="https://i.imgur.com/vV4ydZp.png" alt="Logo" class="brand-image" style="width:60px;">
            </a>
        </div>
        <div class="col-6">
            <div>
                <p class="heading-text">World DB</p>
            </div>
        </div>
    </div>


</div>
<router-outlet></router-outlet>