:root{
    font-size: 16px;
}

.brand-image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-text{
    font-family: 'Arvo', serif;
    font-size: 1.6rem;
    text-decoration: underline;
    /* background:rgba(87, 86, 84, 0.509); */
    font-weight:bold;
    color: black;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.item-container{
   display:flex;
   justify-content: center;
   margin:5px;
}

.navbar-item{
    margin:2%;
}
